.contenedor{
    margin-top: 3rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.boton{
    color: aliceblue;
}

.contenedorBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.select{
    padding: 2px 5px;
    outline: none;
    
    border-radius: 5px;
}

.select:focus{
    border: 2px solid var(--color-primario);
}

.select:hover{
    cursor: pointer;
}

.option{
    padding: 10px;
    font-weight: 600;
}
.selectContenedor{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}