.contenedor{
    margin-top: 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.boton{
    color: aliceblue;
}

.contenedorBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.select{
    padding: 2px 5px;
    outline: none;
    
    border-radius: 5px;
}

.select:focus{
    border: 2px solid var(--color-primario);
}

.select:hover{
    cursor: pointer;
}

.option{
    padding: 10px;
    font-weight: 600;
}
.selectContenedor{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 25px;
}

@media only screen and (max-width: 600px){
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .selectContenedor{
        flex-wrap: wrap;
    }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
  }


  